*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    background-color: #322E83;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(7,0,16);
    background: linear-gradient(180deg, rgba(7,0,16,1) 30%, rgba(21,10,44,1) 50%, rgba(50,46,131,1) 100%);
    padding-top: 7%;
    padding-bottom: 3%;
}

section#hero{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

button#hero {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 5%;
}

button#hero a{
    text-decoration: none;
    color: #ffffff;
}

button#hero:hover{
    background: rgb(193,25,118);
    background: linear-gradient(90deg, rgba(193,25,118,1) 0%, rgba(230,92,117,1) 26%, rgba(234,125,96,1) 53%, rgba(238,138,79,1) 71%, rgba(243,157,36,1) 100%);
}

p#hero{
    color: white;
    text-align: justify;
    width: 350px;
    font-size: 14px;
}

img#hero{
    width: 500px;
    margin-right: 10%
}

nav ul{
    display: flex;
    justify-content: space-around;
    background: rgb(193,25,118);
    background: linear-gradient(90deg, rgba(193,25,118,1) 0%, rgba(230,92,117,1) 26%, rgba(234,125,96,1) 53%, rgba(238,138,79,1) 71%, rgba(243,157,36,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: black;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    height: 100%;
    width: 100%;
    justify-content: center;
}

main{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
}

div#sobre{
    background-color: rgba(255, 255, 255, 0.4);
    width: 65%;
    height: fit-content;
    display: flex;
    justify-content:center;
    padding: 2%;
}

section#text1{
    width: 90%;
    text-align: justify;
    margin: 5%;
}

section#text2{
    width: 90%;
    text-align: justify;
}

p#main{
    font-size: 14px;
}

section#galeria{
    width: 20%;
}

.gallery {
    display: grid;
    padding-bottom: 10%;
    grid-gap: 5px;
    row-gap: 5px;
    width: 1000px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    height: 122px;
    border: 1px solid #ddd;
    background: #fff;
    object-fit: cover;
    position: relative;
    display: block;
}

.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
  }

  footer{
    display: flex;
    position: static;
    align-items: center;
    text-align: center;
    background: rgb(193,25,118);
    background: linear-gradient(90deg, rgba(193,25,118,1) 0%, rgba(230,92,117,1) 26%, rgba(234,125,96,1) 53%, rgba(238,138,79,1) 71%, rgba(243,157,36,1) 100%);
    width: 100%;
    bottom: 0px;
    padding: 8px;
    margin-top: 5%;
}