*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(7,0,16);
    background: linear-gradient(180deg, rgba(7,0,16,1) 10%, rgba(21,10,44,1) 46%, rgba(50,46,131,1) 100%);
}

section#hero{
    display: block;
    margin-left: 10%;
}

h1#hero{
    color: white;
    text-align: center;
}

p#hero{
    color: white;
    text-align: justify;
    width: 400px;
}

img#hero{
    width: 300px;
    margin-right: 10%
}

nav ul{
    display: flex;
    justify-content: space-around;
    background-color: pink; 
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul li{
    list-style: none;
}

main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

section#text1{
    width: 30%;
    text-align: justify;
}

section#text2{
    width: 30%;
    text-align: justify;
}

section#text3{
    width: 30%;
    text-align: justify;
}